.post {
  border-bottom: 0.5px solid rgb(0, 50, 71);
  margin: 10px 0 30px 0;
  display: grid;
  grid-template: minmax(45px, auto) 25px / 55px 1fr;
}
.post.first {
  border-top: 1px solid rgb(61, 61, 61);
  margin-top: 30px;
}
.ava {
  grid-row: 1 / 3;
}
.ava img {
  margin: 5px 0 0 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.text {
  margin: 5px 0 0 0;
  align-items: center;
  grid-column: 2 / 3;
}
.like {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.like button {
  width: auto;
  padding: 0 5px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  background-color: #fff;
}
.like button:hover {
  background-color: rgb(146, 0, 0);
  color: #fff;
}


