.container {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 50, 71);
  display: grid;
  grid-template: 1fr / 4fr 1fr;
  grid-gap: 1px;
}

.dialog {
  display: grid;
  grid-template: 1fr 50px/ 1fr;
}