.Item {
  width: 100%;
  margin: 0 0 20px;
  max-width: 800px;
  padding: 20px 10px 10px;
  display: grid;
  grid-template: 70px / 45px 4fr 1fr;
  border: 1px solid #ccc;
  box-shadow: 0 0 4px 5px rgba(0,0,0,.14);
  border-radius: 10px;
}
.ava img {
  width: 45px;
  height: 45px;
}
.data {
  grid-gap: 1px;
  padding: 0 10px 0 10px;
  display: grid;
  grid-template: 35px 35px/ 1fr 1fr;
}
.follow button {
  width: 100%;
  font-size: 16px;
}
.unfollow-button {
  color: rgb(146, 0, 0);
  border: 1px solid rgb(146, 0, 0);
}
.unfollow-button:hover {
  color: #fff;
  background-color: rgb(146, 0, 0);
}
.username {
  grid-row: 1;
  grid-column: 1;
}
.status {
  grid-row: 2;
  grid-column: 1;
}
.location {
  text-align: right;
  grid-row: 1;
  grid-column: 2;
}
.location p{
  margin: 0;
}

