.footer {
  background-color: rgb(0, 50, 71);
}
.author {
  padding: 10px 0 0 0;
  width: 100%;
  text-align: center;
}
.link {
  padding: 2px 10px;
  border: 1px solid rgb(0, 238, 186);
  font-size: 20px;
  color: rgb(0, 238, 186);
}
.link:hover {
  color:rgb(0, 50, 71);
  background-color: rgb(0, 238, 186);
}