//variables 
$blueColor: rgb(0, 50, 71);
$greenColor: rgb(0, 238, 186);
$shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);

/* global styles */
a {
  text-decoration: none;
  color: $blueColor;
}
textarea {
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid $blueColor;
  color: $blueColor;
}
button:hover {
  color: #fff;
  background-color: $blueColor;
}

.app-wrapper {
  height: 100vh;
  background-color: $greenColor;
  display: grid;
  grid-gap: 1px;
  grid-template: minmax(auto, 70px) 1fr minmax(auto, 43px) / 1fr;
}
.main {
  display: grid;
  grid-gap: 1px;
  grid-template: 1fr / 220px 1fr;
}
.content {
  color: $blueColor;
  background-color: #fff;
  padding: 0 20px;
}

