a {
  text-decoration: none;
}
.app-wrapper {
  height: 100vh;
  background-color: rgb(0, 238, 186);
  display: grid;
  grid-gap: 1px;
  grid-template: minmax(auto, 70px) 1fr minmax(auto, 43px) / 1fr;
}
.main {
  display: grid;
  grid-gap: 1px;
  grid-template: 1fr / 220px 1fr;
}
.content {
  color: rgb(0, 50, 71);
  background-color: #fff;
  padding: 20px;
}
.content button{
  color: rgb(0, 50, 71);
}
.content a {
  color: rgb(0, 50, 71);
}
 